body{
    margin:0;
    padding:10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
p{
    margin: 5px;
}
h1{
    font-size: 75px;
    font-weight: 800;
}
h2{
    font-weight: 500;
}
p{
    font-weight: 400;
}
.intro{
    display:flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.button{
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 10px;
    padding:5px 15px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 7%;
}
.socials>.button{
    border-radius: 50px;
    margin:5px;
}
.button:hover{
    background-color: white;
    color: black;
    border-color: black;
}
.socials{
    display:flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.socials-links{
    display:flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}